<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/getting-started/quick-start" />
    <link rel="canonical" href="/getting-started/quick-start" />
    <title>Hot Metal Docs</title>
  </head>
  <body></body>
</html>
